body {
  font-family: 'Open Sans', light;
  display: flex;
  flex-direction: row;
}

.sidebar {
  background-color: #1f1f3d;
  display: flex;
  flex-direction: column;
  width: 25%;
}

main {
  width: 75%;
  height: 100vh;
  background-color: #a9aad2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 45%;
  min-height: 40%;
  margin-top: 4%;
}

h1, h2, h3, .form__label {
  font-family: 'Open Sans', bold;
}

h2 {
  font-size: calc(.6rem + .6vw);
}

.search-container__search-bar, .form__button {
  border-radius: 3px;
  border: 2px solid #5356a4;
  color: #a9aad2;
  font-size: calc(.5rem + .5vw);
}

.form__button {
  height: 10%;
  font-size: calc(.7rem + .7vw);
  background-color: #353567;
  color: white;
  cursor: pointer;
}

.form__button__disabled: hover {
  background-color: #eaeaf4;
  cursor: default;
}

.search-container {
  border-radius: 3px;
  color: #a9aad2;
  font-size: calc(.5rem + .5vw);
}

.search-container__input-button {
  width: 10%;
  padding: 5px;
}

.idea-card {
  border: 1px solid #1f1f3d;
  margin: 1.5%;
  width: 30%;
  height:40%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.star-header {
  background-color: #1f1f3d;
  display: flex;
  justify-content: space-between;
  height: 10%;
}

.star-header__icon {
  width: 15%;
}

.idea-card__header, .idea-card__body {
  padding: 0px 8px;
}

.star-section {
  border: 3px solid #353567;
  display: flex;
  flex-direction: column;
}

.sidebar__header {
  color: #e9e9f3;
  margin: 20px;
}
.star-section__h2 {
  color: #bfbfdd;
  margin: 20px;
  margin-bottom: 10px;
}

.star-section__button {
  background-color: #5356a4;
  color: #e9e9f3;
  font-size: calc(.7rem + .7vw);
  border-color: #353567;
  margin: 20px;
  height: 40%;
  padding: 10px;
}

section {
background-color: #eaeaf4;
display: flex;
flex-direction: row;
flex-wrap: wrap;
height: 70%;
}

 .body-input, .title-input, .form__button, .search-container {
   margin: 0 0 8% 0;;
 }

 .form__label {
   color: #1f1f3d;
   font-weight: bold;
   font-size: calc(.5rem + .5vw);
 }

 .title-input {
   height: 10%;
 }

 .body-input {
   height: 20%;
 }

 .search-container__search-bar {
   width: 88%;
 }

.search-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background-color: #353567;
  height: 10%;
}

.comment-container {
  display: flex;
  background-color: #5356a4;
  color: #e9e9f3;
  font-weight: bold;
  align-items: center;
}

.hidden {
  display: none;
}